:root{
  --green:#028159;
  --orange:#FB7746;
  --gray:#EAEAEA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
}
a{
  text-decoration: none;
  color: inherit;
}